<%= erb :pagehead, :locals => { :title => 'about' } %>
<div id="page">
  <h1>About Yiff Art Web Nodes</h1>
  <p>
    Hi there! Yiff Art Web Nodes, or YAWN, is a
    <a href="https://en.wikifur.com/wiki/Furry">furry</a>
    <a href="http://en.wikifur.com/wiki/Yiff">yiff</a> aggregation point.
  </p>
  <p>
    YAWN allows furries to submit the URLs of art hosted elsewhere on the
    internet, ensuring it can be categorized, tagged, and browsed from a central
    location in a nicer, more user-friendly format than most yiff sources allow.
  </p>
  <p>
    YAWN is a continuous effort by <a href="http://furrz.tumblr.com">nova</a> to
    provide a user-friendly source of yiff that actually gives credit to
    artists.
  </p>
  <h2>Rules</h2>
  <p>
    The following content is <b>not permitted</b> under any circumstances.
    Please report any content which suits this description:
    <ul>
      <li>Any form of child pornography (including 'cubs')</li>
      <li>Any human-on-animal bestiality</li>
      <li>Art which has not been credited to the original artist</li>
      <li>Art with a directly offensive message (racist, homophobic, etc.)</li>
    </ul>
  </p>
  <h2>Reporting and Copyright</h2>
  <p>
    You may use the report functionality on an artwork's submission page to
    request that art which belongs to you gets taken down, as well as to report
    material which violates our rules (see above.)
    Reported art will immediately disappear from the index, but will remain
    visible via a direct link to its submission page until a moderator can
    review the report.
  </p>
</div>
<%= erb :pagefoot %>
