<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirm age!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="page">
      <h1>To use this site, please confirm that you are 18 or older.</h1>
      <b>There is serious NSFW material on this site.</b><br/>
      <b>We are not responsible for minors lying about their age and visiting this site!</b><br/>
      <a href="?confirmage=confirm">I am 18 or over.</a>
    </div>
  </body>
</html>
