<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YAWN</title>
  </head>
  <body>
    <h1>Yiff Art Web Nodes</h1>
    <p>
      Yiff Art Web Nodes (YAWN) is still under heavy development!
      Come back later!
    </p>
    <p>
      <small>
        <a href="http://github.com/onefurry/yawn">source code</a> |
        <a href="http://furrz.gitlab.io">creator</a>
      </small>
    </p>
  </body>
</html>
