<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> - yawn</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  </head>
  <body>
    <form action="/" method="get" id="filter">
      <h1><a href="/">Yiff Art Web Nodes</a></h1>
      <small>Tags (comma-separated):</small>
      <input type="text" name="tags" value="<%= taglist %>"/>
      <input type="submit" value="Search"/>
      <small>
        <a href="/">index</a> |
        <a href="/submit">submit</a> |
        <a href="/about">about</a> |
        <a href="http://github.com/onefurry/yawn">source code</a>
      </small>
    </form>
